name: Python CICD

on: 
  push:
    branches: [ master ]
  pull_request:

  jobs:
    run-tests:
      runs-on: ubuntu-latest

      steps:
        - name: Checkout code
          used: actions/checkout@v3
    
        - name: Setup Python
          run: actions/setup-python@v4
          with:
            python-version: "3.15.0-alpha.2"
            
        - name: Install dependencies
          run: pip install -r requirements.txt
    
        - name: Run tests
          uses: pytest
